@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

.dark {
  --background: #22232A;
  --black: #000000;
  --grey: #393B46;
  --grey-dark: #252627;
  --grey-light: #B9BBC6;
  --foreground: #ffffff;
  --secondary: #676A7E;

  --sky: #4CAAFE;
  --sky-mid: #69B7FA;
  --sky-light: #83C3FB;
  --yellow: #FFA11A;
  --yellow-mid: #FDB43E;
  --yellow-light: #FBB551;
  --green: #4ADE80;
  --green-mid: #6FEF98;
  --green-light: #86EFAC;
  --purple: #9E78FE;
  --purple-mid: #8355F6;
  --purple-light: #A889F5;

  --primary: var(--green);
  --primary-active: var(--green-mid);
  --primary-light: var(--green-light);
 }